@import "tailwindcss";

@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: semibold;
}

@theme {
  --font-display: "Gilroy", "sans-serif";
  --color-lavender: #DBD9E8;
  --color-carrara: #F0F0F0;
  --color-martinique: #494753;
  --color-firefly: #0D0B19;
  /* --color-fireflyy: rgb(13,11,25); */
  /* --color-red-50: oklch(0.16030.0292289.22); */
}

body {
  font-family: 'Gilroy';
  /* background-color: #121026; */
  @apply bg-firefly text-white;
}

.heading-1 {
  @apply text-3xl font-semibold text-lavender;
}

.heading-2 {
  @apply text-2xl font-semibold text-lavender;
}

.input {
  @apply px-3 py-2 bg-gray-100 border-gray-500 rounded-md text-gray-900
}

.input--dark {
  @apply px-2 py-1 bg-martinique text-white outline-martinique
}

.text-link {
  @apply cursor-pointer text-blue-500 underline;
}

.btn {
  @apply cursor-pointer px-3 py-2 bg-martinique rounded-md hover:bg-orange-500 transition-colors duration-200;
}

.btn-primary {
  @apply bg-orange-500;
}
