{:server/http
 {:port #long #or [#env PORT 3000]
  :host #or [#env HTTP_HOST "0.0.0.0"]
  :handler #ig/ref :my-app.web.handler/ring-handler}

 :my-app.web.handler/ring-handler
 {:router #ig/ref :my-app.web.handler/ring-router
  :api-path "/api"
  :db-node #ig/ref :my-app.db/db-node
  :cookie-secret #or [#env COOKIE_SECRET "NBYXWYYRNALTJSYF"]
  ;; from ring.middleware.defaults. anti-forgery `false` by default because services may not require it
  :site-defaults-config {:params {:urlencoded true
                                  :multipart true
                                  :nested true
                                  :keywordize true}
                         :cookies true
                         :session {:flash true
                                   :cookie-name "my-app"
                                   :cookie-attrs {:max-age 86400
                                                  :http-only true
                                                  :same-site :strict}}
                         :security {:anti-forgery false
                                    :xss-protection {:enable? true,
                                                     :mode :block}
                                    :frame-options :sameorigin
                                    :content-type-options :nosniff}
                         :static {:resources "public"}
                         :responses {:not-modified-responses true
                                     :absolute-redirects true
                                     :content-types true
                                     :default-charset "utf-8"}}}

 :my-app.web.handler/ring-router
 {:routes [#ig/ref :my-app.web.api.routes/routes
           #ig/ref :my-app.web.ui.routes/routes]
  :plugins [#ig/ref :my-app.web.sse/sse-listener]}

 :my-app.web.sse/sse-listener
 {}

 ;; Route handlers
 :my-app.web.api.routes/routes
 {:base-path "/api"}

 :my-app.web.ui.routes/routes
 {}

 :my-app.db/db-node
 {:tx-log "data/dev/tx-log"
  :document-store "data/dev/doc-store"
  :index-store "data/dev/index-store"}

 :my-app.events/kafka-config
 {"bootstrap.servers" "localhost:29092"
  "key.deserializer" "org.apache.kafka.common.serialization.StringDeserializer"
  "value.deserializer" "jackdaw.serdes.EdnDeserializer"
  "group.id" "archive-etl-processor"
  "auto.offset.reset" "earliest"
  "enable.auto.commit" "false"
  "max.poll.records" "100"
  "session.timeout.ms" "30000"
  "heartbeat.interval.ms" "10000"}

 :my-app.events/flights-pipeline
 {:my-app.db/db-node #ig/ref :my-app.db/db-node
  :kafka-config #ref [:my-app.events/kafka-config]
  :topics
  {:topic/flight-events
   {:topic-name "dev-etl-flight-events"
    :partition-count 1
    :replication-factor 1
    :topic-config {"retention.ms" "31536000000"}}
   :topic/flight-durations
   {:topic-name "dev-etl-flight-durations"
    :partition-count 1
    :replication-factor 1
    :topic-config {"retention.ms" "31536000000"}}}
  :consumer-configs
  {:connector/flight-durations
   {:poll-duration 500
    :group-id "flight-durations-calculator"}
   :sink/duration-warnings
   {:poll-duration 500
    :group-id "warn-delayed-flights"}
   :sink/copy-to-xtdb
   {:poll-duration 500
    :batch-size 100
    :group-id "copy-to-xtdb"}}}}
